# Workaround del key at Simple Terminal
set enable-keypad on

# Disable BELL
set bell-style none

# Use vi style, not Emacs
set editing-mode vi

##############################################################################
set keymap vi-command

# Insert the arguments from the last command
"p": "i !!*\r"

"\e\e[A": history-search-backward
"\e\e[B": history-search-forward

###############################################################################
set keymap vi-insert

TAB: menu-complete
"\e[Z": menu-complete-backward

"\e\e[A": history-search-backward
"\e\e[B": history-search-forward

# Completions
set show-all-if-ambiguous on
set completion-ignore-case on
set menu-complete-display-prefix on

"p": self-insert

